body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #3b863c, #283c86);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  cursor: pointer;
}

.formbackground{
  background:rgba(163, 163, 163, 0.082);
}